body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    position: relative;
    background-attachment: fixed;
}

.welcome-section {
    text-align: center;
}

.welcome-section h1 {
    color: #ffffff;
    font-size: 32px;
}

.welcome-section p {
    color: #ffffff;
    font-size: 18px;
}

.rounded-button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    body {
        background-size: contain; /* Cambia el tamaño de la imagen para que se ajuste */
        background-position: center; /* Centra la imagen en dispositivos móviles */
    }
}