/* Estilos para el encabezado */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para los enlaces de redes sociales */
.redes-sociales {
    display: flex;
  }

  .redes-sociales a {
    color: white;
    margin-left: 10px;
  }

  /* Alinear los enlaces a la derecha */
  .redes-sociales {
    margin-left: auto;
  }
  #audio-container {
    text-align: center; /* Centrar el contenido horizontalmente */
    flex-grow: 1; /* Hacer que el contenedor ocupe el espacio restante */
  }

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
body{
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Estilos para la sección de reseña */
#reseña {
    text-align: center;
    padding: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
    opacity: 80%;

}


/* Estilos para la sección de videos */
#videos {
    text-align: center;
}

#videos h2 {
    color: #000000;
    font-size: 24px;
}

#videos .video-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-self: baseline;
    align-items: center;
}

#videos .video-wrapper iframe {
    margin: 10px;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.redes-sociales{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

.boton-flotante {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 1000;
  }

  .carousel-item img {
    height: 700px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Esto garantiza que las imágenes se recorten correctamente */
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    /* Estilos para el encabezado */
    header {
        text-align: center;
    }

    /* Estilos para la sección de reseña */
    #reseña {
        text-align: center;
    }

    #reseña > div {
        column-count: 1; /* Cambia a una sola columna */
        column-gap: 0; /* Elimina el espacio entre columnas */
    }

    /* Estilos para el carrusel */
    #miCarrusel {
        max-width: 100%; /* Ajusta el ancho máximo del carrusel */
    }

    #miCarrusel img {
        width: 100%; /* Ajusta el ancho de las imágenes del carrusel */
    }

    /* Estilos para el botón de descarga de la aplicación */
    .boton-flotante {
        display: block;
        margin: 20px auto;
    }
}